<div class="reset-pass">
  <h2>Verify code</h2>
  <form [formGroup]="resetPassForm" (ngSubmit)="submitCode()">
    <div class="mb-3">
      <p-password class="main-input" [toggleMask]="true" placeholder="Password" formControlName="newPassword" />
    </div>
    <div class="mb-3">
      <p-password class="main-input" [toggleMask]="true" placeholder="Confirm Password" formControlName="rePassword" />
    </div>
    <span class="mb-3 block">
      Didn’t receive a code?
      <a routerLink="/auth/forgotPass" class="recover-pass"> Resend</a>
    </span>
    <app-main-auth-btn text="Verify" />
  </form>
</div>
