<div class="forgot-pass">
  <h2>Verify code</h2>
  <form [formGroup]="verifyCodeForm" (ngSubmit)="submitCode()">
    <div class="mb-3">
      <input
        type="text"
        class="w-full main-input"
        toggleMask
        placeholder="Enter Code"
        pInputText
        formControlName="resetCode"
      />
    </div>
    <span class="mb-3 block">
      Didn’t receive a code?
      <a routerLink="/auth/forgotPass" class="recover-pass"> Resend</a>
    </span>
    <app-main-auth-btn text="Verify" />
  </form>
</div>
