<div class="login">
  <h2>Sign in</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-3">
      <input type="text" class="w-full main-input" toggleMask placeholder="email" pInputText formControlName="email" />
    </div>
  <div class="mb-3">
      <p-password formControlName ="password" class="main-input" [toggleMask]="true" placeholder="password" />
    </div>
    <a routerLink="/auth/forgotPass" class="recover-pass mb-3">Recover password?</a>
    <app-main-auth-btn text="Sign in" />
  </form>
</div>
